<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center bg-light">
  <h1 class="card-title text-center mb-4 text-dark fw-bold">Television Channel Management System</h1>
  <div class="card shadow-lg" style="width: 25rem; border-radius: 15px;">
    <div class="card-body p-4">
      <h2 class="card-title text-center mb-4 text-dark">Login</h2>
      <form (ngSubmit)="Postlogindetails()">
        <div class="mb-3">
          <label for="role" class="form-label">Role Name</label>
          <select class="form-select" [(ngModel)]="UserId" name="role" required>
            <option value="" disabled selected>Select</option>
            <option value="1">Admin</option>
            <option value="2">Channel Manager</option>
            <option value="3">Director</option>
            <option value="4">Advertiser</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">User Email</label>
          <input type="text" class="form-control" id="email" placeholder="Enter your Username" [(ngModel)]="loginUser.Username" name="username" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" [(ngModel)]="loginUser.Password" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <div class="text-center mt-3">
          <p class="mb-0">
            Don't have an account?
            <a href="/register" class="text-decoration-none text-primary">Sign Up</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
